body{
    background-color: #4F9C93;
}
h1{
    color: beige;
    font-family: 'a Big Deal', sans-serif;
    font-size: 450%;
  
}
p1{
    color: beige;
    font-family: 'a Big Deal', sans-serif;
    

}
p2{
    color: beige;
    font-family: 'a Big Deal', sans-serif;
    font-size: 200%;
}