body{
    background-color: #4F9C93;
}
h1{
    color: beige;
    font-family: 'a Big Deal', sans-serif;
    font-size: 450%;
    text-align: center;
}
p1{
    color: beige;
    font-family: 'a Big Deal', sans-serif;
    text-align: center;
}
p2{
    color: beige;
    font-family: 'a Big Deal', sans-serif;
    font-size: 200%;
    text-align: center;
}
p3{
    color: #4F9C93;
    font-family: 'a Big Deal', sans-serif;
    font-size: 1.25sch;
    text-align: center;
}
img{
    max-width: 25ch;
 
}
button {
  background-color: #2a524d;
  color: beige;
  display: inline-block;
}

.typing{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.flex-center{
    display: flex;
    justify-content: center;
}